
<?php
$first_page = "company";
$second_page = "about";
?>

<div class="section" style="overflow:hidden;">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">
		<div id="about">
			<h3 class="stit"><b>ABOUT</b></h3>
			<!-- <p class="stit_p">제이솔루션은 B2B 전문 컨설팅 회사로 기업의 사업환경에 적합한 통신상품을 제공합니다.</p> -->
			<div class="about">
				<div class="about_txt">
					<strong><b>㈜제이솔루션은</b></strong>
					<p>
						(주)제이솔루션은 ABC기술과 ICT 융합을 토대로 클라우드 기반 지능형 통합 모니터링 플랫폼 서비스를 제공하고 있습니다. 4차 산업혁명 및 코로나 시대 비대면, 무인화, 지능화 등 디지털 트랜스포메이션의 ICT 대전환을 위해 노력하고 있습니다!
					</p>
					<!--
					<p>(주)제이솔루션은 2018년 03월 기술벤처기업으로 설립하여 4차 산업혁명 시대의 ICT기술을 기반으로 기업, 공공기관, 교육기관, 협회 및 단체의 맞춤형 스마트화를 구축 및 지원하고 산업융합을 통한 기술가치 중심의 선도기업이 되기 위해 지속 기술개발과 고도화를 위해 노력하고 있습니다.</p>
					-->
				</div>
				<div id="company_img">

					<div class="container-fluid" style="margin:10% auto">
						<div class="row">
							<div class="col-12 col-md-12" data-aos="fade-up" data-aos-dealy="300">
								<img src="../image/vision_22.png" width="100%">
							</div>
							<!--
							<div class="col-4 col-md-3" data-aos="fade-up" data-aos-delay="500" style="padding:0">
								<img src="../image/company_img_left.png" width="100%">
							</div>
							<div class="col-4 col-md-6" data-aos="fade-up" data-aos-delay="300" style="padding:5% 0;text-align:center;">
								<img src="../image/company_img_c.png" width="100%">
							</div>
							<div class="col-4 col-md-3" data-aos="fade-up" data-aos-delay="600" style="padding:0">
								<img src="../image/company_img_right.png" width="100%">
							</div>
							-->
						</div>
					</div>
					-->

				</div>
				<ul class="about_item">
					<li data-aos="fade-up" data-aos-delay="400">
						<span>ICT 솔루션</span>
						<div class="txtbox">
							<ol>
								<li>M-CALL</li>
								<li>IAM</li>
								<li>IDM</li>
								<li>진료 대기 플랫폼</li>
								<li>DTM</li>
							</ol>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="200">
						<span>하드웨어 솔루션</span>
						<div class="txtbox">
							<ol>
								<li>ICT 정비</li>
								<li>모니터링 장비</li>
								<li>모바일 및 테블릿 IOT</li>
								<li>기타 B2B 하드웨어 장비</li>
								<li style="visibility:hidden;">&nbsp;</li>
							</ol>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="300">
						<span>기업 전문 컨설팅</span>
						<div class="txtbox">
							<ol>
								<li>기업별 ICT기술 적용</li>
								<li>기술, 경영, 품질 컨설팅</li>
								<li>스마트화 솔루션 </li>
								<li>빅데이터, AI 분석 지원</li>
								<li style="visibility:hidden;">&nbsp;</li>
							</ol>
						</div>
					</li>
				</ul>
			</div>

			<section id="services" class="why-us section-bg">
			<div class="container-fluid w1366" data-aos="fade-up">
				<div class="row">
					<div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
						<div class="content">
							<h3>당사 서비스로 애플리케이션을 <strong>단순화 및 변환</strong>하고, 플랫폼을 <strong>표준화</strong>하고, 비즈니스 모델을 <strong>디지털화</strong>하십시오.</h3>
							<p>고객사의 서비스를 개선하고 더 많은 가치를 제공하며 비용을 절감 할 수 있도록 합니다.</p>
						</div>

						<div class="accordion-list">
							<ul>
								<li>
									<a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">4차 산업혁명 시대에 걸맞는 모바일 단말 유통 플랫폼<img src="../image/logo_mcall_b.png" style="margin-left:10px;">
										<i class="fas fa-chevron-down icon-show"></i>
										<i class="fas fa-chevron-up icon-close"></i>
									</a>
									<div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list" >
										<p>
											누구도 쫓아올 수 없는 모바일 유통관리 플랫폼<br>더 앞선 기술로 무장한  <strong>M CALL</strong>은 언제나 여러분과 함께 할 준비가 되어 있습니다. <br><br>MCALL의 최적 주문 추천과 함께 하시면 재고의 압박에서 자유로워집니다. QR코드를 활용해 언제 어디서든 간편하게 업무가 가능합니다. 이외에도 더 다양한 기능들이 여러분을 기다리고 있습니다.
										</p>
									</div>
								</li>

								<li>
									<a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">지능형 출입관리 솔루션 IAM <i class="fas fa-chevron-down icon-show"></i><i class="fas fa-chevron-up icon-close"></i></a>
									<div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
										<p>
											비대면 출입자 신원확인 및 건강체크 모니터링 솔루션입니다.<br> 무인화 키오스크 기반 출입 및 모니터링 시스템에 확장성을 확보한 통합 프로세스입니다.<br><br>
											비대면 출입관리 필요한 모든 산업 분야에 적용가능하며 출입/고객, 건강/모니터링의 빅데이터 분석 및 시각화를 지원합니다.<br> 비대면, 무인화로 실시간 출입자 현황 및 건강상태 모니터링을 통해 업무효율성이 증대합니다.
										</p>
									</div>
								</li>

								<li>
									<a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">국방 지능형 훈련 관리 플랫폼<i class="fas fa-chevron-down icon-show"></i><i class="fas fa-chevron-up  icon-close"></i></a>
									<div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
									<p>
										국방분야 장병의 출입, 건강체크, 물자배분, 훈련관리, 인사관리 등의 전 분야를 통합한 모니터링 관리를 지원합니다.<br><br>
										훈련 및 교육인원에 대한 체계적인 관리가 필요함에 따라 무인화, 과학화 관리가 가능한 플랫폼입니다.<br>
										비대면 강화로 인한 포스트 코로나 대응 및 인건비 절감, 인적/물적 자원의 인공지능 기반 시각적 분석으로 효율적인 재고 관리가 가능합니다.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- media-->
				<div class="col-lg-6 col-sm-12 align-items-stretch order-1 order-lg-2">
					<div class="video_wrap" >
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/axPc9nqV5JM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			</section>
		</div>
	</div>
</div>
  <script src="../sos/bootstrap.bundle.min.js"></script>
