<?php include_once("inc/sub_loc.php");?>
<div id="page_wrap">
	<div id="about">
		<h3 class="stit"><b>ABOUT</b></h3>
		<!-- <p class="stit_p">제이솔루션은 B2B 전문 컨설팅 회사로 기업의 사업환경에 적합한 통신상품을 제공합니다.</p> -->
		<div class="about">
			<div class="about_txt">
				<strong>㈜제이솔루션은</strong>
				<!-- <p><span>4차산업 혁명시대에 정보통신기술과 IT, 전자기기의 소프트웨어와 하드웨어 기술을 융합하여,<br>각 사업별, 각 고객사별로 최적의 ICT기술을 적용한 솔루션을 제공하는 B2B 전문 컨설팅 기업입니다.</span></p>
					<p>통신사와 전자사들의 B2B 전문점으로  급변하는 기술 트렌드와 빠르게 생겨나는 IT기기들을 분석하여,<br>최신 트렌드의 기술, 장비, S/W, 솔루션을 운영하고 있습니다.</p>
					<p>저희는 고객사에게 최적의 ICT서비스와 기술, 제품을 제공하기 위해 지속적으로 혁신하고 준비해 나가도록 하겠습니다.</p> -->
				<p>2018년 03월 기술벤처기업으로 설립하여 4차 산업혁명 시대의 ICT기술을 기반으로<br>
					기업, 공공기관, 교육기관, 협회 및 단체의 맞춤형 스마트화를 구축 및 지원하고<br>
					산업융합을 통한 기술가치 중심의 선도기업이 되기 위해 지속 기술개발과 고도화를 위해 노력하고 있습니다.</p>
			</div>
			<style>
				.about_item {
					width: 100%;
					overflow: hidden;
					text-align: center;
					margin-top: 40px;
				}

				.about_item>li {
					float: left;
					width: 31%;
				}

				.about_item>li:nth-child(n+2) {
					margin-left: 3%;
				}

				.about_item li span {
					display: block;
					background: #2548a7;
					color: #fff;
					height: 70px;
					line-height: 70px;
					font-size: 20px;
					border-radius: 20px 20px 0 0;
				}

				.about_item li .txtbox {
					width: 100%;
					overflow: hidden;
					padding: 20px 0;
					border: 1px solid #dedede;
					border-top: 0;
					border-radius: 0 0 20px 20px;
					text-align: center;
					box-sizing: border-box;
				}

				.about_item li ol {
					display: inline-block;
					text-align: left;
				}

				.about_item li ol li {
					display: block;
					width: 100%;
					margin: 18px 0;
					font-size: 16px;
					color: #000;
					font-size: 16px;
				}

				.about_item li ol li::before {
					content: '·';
					margin-right: 8px;
				}
			</style>
			<ul class="about_item">
				<li>
					<span>ICT 솔루션</span>
					<div class="txtbox">
						<ol>
							<li>지능형 물류관리 플랫폼</li>
							<li>스마트 팩토리, 에너지</li>
							<li>DID 솔루션, 원격관제</li>
							<li>SI, ERP, 그룹웨어, 결제</li>
						</ol>
					</div>
				</li>
				<li>
					<span>B2B IT/전자제품</span>
					<div class="txtbox">
						<ol>
							<li>기업인터넷, 전화 구축</li>
							<li>모바일, 패드, IOT 등</li>
							<li>PC, 가전, 서버, 전자기기</li>
							<li>조달, 입찰, 나라장터 발주</li>
						</ol>
					</div>
				</li>
				<li>
					<span>기업 전문 컨설팅</span>
					<div class="txtbox">
						<ol>
							<li>기업별 ICT기술 적용</li>
							<li>기술, 경영, 품질 컨설팅</li>
							<li>스마트화 솔루션 </li>
							<li>빅데이터, AI 분석 지원</li>
						</ol>
					</div>
				</li>
			</ul>
			<!-- <div class="about_box">
					<div class="about_info">
						<dl><dt>회사명</dt><dd>(주)제이솔루션</dd></dl>
						<dl><dt>설립일</dt><dd>2018년 03월 02일</dd></dl>
						<dl>
							<dt>주소</dt>
							<dd><span>본사</span> : 대구광역시 북구 경대로17길 47 (경북대학교내 IT융합산업빌딩 115동 602호) (우. 702-020)</dd>
							<dd><span>기업부설연구소</span> : 경북 구미시 산동면 인덕1길 131, 경운대학교 창업보육센터 308호</dd>
						</dl>
					</div>
					<div class="about_cs">
						<dl><dt>대표전화</dt><dd><span>1644-3950<span></dd></dl>
						<dl><dt>팩스</dt><dd>053-956-3950</dd></dl>
						<dl><dt>고객상담</dt><dd>평일 10 : 00 ~ 18 : 00</dd></dl>
					</div>
				</div> -->
		</div>
	</div>
</div>