
<?php
$first_page = "company";
$second_page = "about";
?>

<div class="section" style="overflow:hidden;">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">
		<div id="about">
			<h3 class="stit"><b>ABOUT</b></h3>
			<div class="about">
				<div class="about_txt">
					<strong><b>㈜제이솔루션은</b></strong>
					<p>
						(주)제이솔루션은 ABC기술과 ICT 융합을 토대로 클라우드 SaaS기반 지능형 통합관제 플랫폼 서비스를 제공하고 있습니다. 
						급변하는 4차 산업혁명 시대 비대면, 무인화, 지능화 등 디지털 트랜스포메이션의 ICT 대전환을 위해 노력하고 있습니다.

					</p>
				</div>
				<div id="company_img">
					<div class="container-fluid" style="margin:5% auto;">
						<div class="row">
							<div class="col-12 col-md-12" data-aos="fade-up" data-aos-delay="300">
								<img src="../image/vision_22.png" style="width:90%;margin:0 5%">
							</div>
						</div>
					</div>
				</div>
				<ul class="vision1_txt">
					<li><span style="color:#5eb4db">■</span> 비대면, 무인화 시대 <em>핵심 3P(인적, 물적, 콘텐츠)요소</em>를 <em>ABC+ICT융합 기술</em>을 기반한 <em>클라우드 SaaS기반 지능형 통합관제 플랫폼</em></li>
					<li><span style="color:#5eb4db">■</span> 산업별 호환성, 범용성 위한 SaaS, 모듈화로 다양한 기술과 시장에 <em>연계/커스터마이징 가능한 솔루션</em>으로 대기업과 <em>차별화된 특수/틈새시장 공략</em></li>
				</ul>
			</div>
			<div class="" style="width:100%;float:left;">
				
			</div>
			<section id="services" class="why-us section-bg">
			<div class="container-fluid w1366" data-aos="fade-up">
				<div class="row">
					<div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
						<div class="content">
							<h3><b>3P 서비스</b>로 애플리케이션을 <strong>단순화 및 변환</strong>하고, 플랫폼을 <strong>표준화</strong>하고, 비즈니스 모델을 <strong>디지털화</strong>하십시오.</h3>
							<p>고객사의 서비스를 개선하고 더 많은 가치를 제공하며 비용을 절감 할 수 있도록 합니다.</p>
						</div>

						<div class="accordion-list">
							<ul>
								<li>
									<a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">
									<b>지능형 최적물류관리 솔루션</b>
									<img src="../image/logo_huclo1_b.png" style="margin-left:10px;">
										<i class="fas fa-chevron-down icon-show"></i>
										<i class="fas fa-chevron-up icon-close"></i>
									</a>
									<div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list" >
										<p>
											포털 사이트로부터 제품 데이터 수집/분석하여 <b style="color:#1F4E79">최적 재고를 추천 혹은 배치</b>합니다.<br><br>
											SaaS 설계 및 API통신으로 다자간 One-stop 물류연동 체계를 구축하였으며,
											알고리즘을 통한 최적거리 계산, FIFO로 재고관리 효율성을 향상하였습니다.
											<br><br>
											언제 어디서든 간편하게 업무가 가능합니다. 이외에도 더 다양한 기능들이 여러분을 기다리고 있습니다.
										</p>
									</div>
								</li>

								<li>
									<a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">
									<b>지능형 인적자원관리 솔루션</b>
									<img src="../image/logo_huclo2_b.png" style="margin-left:10px;">
										<i class="fas fa-chevron-down icon-show"></i><i class="fas fa-chevron-up icon-close"></i></a>
									<div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
										<p>
											QR코드, IoT 장비를 활용한 원스탑 간편 출입관리를 지원합니다.<br><br>
											체온, 심박수, 알콜농도 등 ICT기술을 활용한 측정기능을 고도화하였으며, 데이터 분석을 통한 인원배치 및 순번 스케줄링을 지원합니다.<br><br>
											비대면 무인화 출입관리가 필요한 모든 산업 분야에 적용가능하며, 실시간 출입자 현황 및 건강상태 모니터링을 통해 업무효율성이 증대합니다.
										</p>
									</div>
								</li>

								<li>
									<a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><b>스마트 콘텐츠통합관제 솔루션</b>
									<img src="../image/logo_huclo3_b.png" style="margin-left:10px;">
										<i class="fas fa-chevron-down icon-show"></i><i class="fas fa-chevron-up  icon-close"></i></a>
									<div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
										<p>
											Web 3.0기반 전 디스플레이 콘텐츠의 중앙 통합관제를 지원합니다.<br><br>
											위젯형태의 화면 구성으로 손쉽게 관리가능하며 사용자 맞춤형 커스터마이징 기능을 제공하고 있습니다.<br><br>
											영상, 이미지, 스케줄 등 다양한 콘텐츠의 스트리밍을 지원합니다.
										</p>
									</div>
								</li>
							</ul>
						</div>
				</div>
				<!-- media-->
				<div class="col-lg-6 col-sm-12 align-items-stretch order-1 order-lg-2">
					<div class="video_wrap" >
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/axPc9nqV5JM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			</section>
		</div>
	</div>
</div>
  <script src="../sos/bootstrap.bundle.min.js"></script>
