<div class="sub_vis sub_vis101">
	<p><span>B2B 전문 상품 컨설팅 회사 제이솔루션</span>기업의 사업환경에 최적의 솔루션을 제안해드립니다.</p>
</div>
<?php include_once("inc/sub_loc.php");?>
<hr>
<div id="page_wrap">
	<div id="customer">
		<h3 class="stit">자주하는 질문</h3>
		<div class="img_box"><img src="../images/img_detail_size.png"></div>
		<dl class="guide_box">
			<dt>원하는 정보를<br>찾지 못하셨나요?</dt>
			<dd>
				<p>1:1 전화상담</p>
				상품에 대해 더 궁금한 사항이 있으시다면 보다 자세하게 답변해 드리겠습니다.
				<ul>
					<li>1644-3950</li>
					<li><a href="../consulting.php">맞춤 컨설팅 문의하기</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</div>