<script>
	AOS.init(); 
</script>


<?php
$first_page = "ict";
$second_page = "dtm";
?>


<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">
		<div id="max_detail">
			<h3 class="stit2" data-aos="fade-up"><b>DTM</b></h3>
			<p class="sub_stit" data-aos="zoom-in">무인 지능형 체력측정</p>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						<img src="../image/dtm_left.png" data-aos="fade-up" data-aos-delay="300" style="width:100%">
					</div>
					<div class="col-xs-6 col-lg-6">
						<img src="../image/dtm_right.png" data-aos="zoom-in" data-aos-delay="500" style="width:100%;">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 tit_line">
						<p data-aos="zoom-in">무인 지능형 체력측정</p>
						<p data-aos="zoom-in" data-aos-delay="300">국방, 경찰, 소방, 특수분야 체력측정 플랫폼</p>
					</div>
				</div>
			</div>

			<div class="iam_wrap" style="float:left;">
				<div class="mcall_img">
					<img src="../image/dtm_main.jpg" data-aos="zoom-in" data-aod-delay="700"
						style="width:100%;height:100%;">
				</div>
				<div class="mcall_img_right" style="border:0px;">
					<div class="mcall_txt">
						<p class="tit" data-aos="fade-up" data-aos-delay="200">서비스 특징</p>
						<ul class="pen" data-aos="fade-up" data-aos-delay="500">
							<li><i class="fas fa-highlighter"></i> 국방훈련 / 체력측정 서비스</li>
							<!--
							<li><i class="fas fa-highlighter"></i> 교회, 학원, 식당, 공공기관, 교육기관 납품</li>
							<li><i class="fas fa-highlighter"></i> 국방조달 등록을 위한 절차 진행중</li>
							-->
						</ul>
					</div>
					<!--
					<div class="mcall_pic">
						<div class="pic4" data-aos="fade-up" data-aos-delay="500">
							<div><img src="../image/dtm_img01.jpg"></div>
							<div>전광판 모드</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="300">
							<div><img src="../image/dtm_img02.jpg"></div>
							<div>전광판 모드</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="700">
							<div><img src="../image/dtm_img03.jpg"></div>
							<div>경대병원 설치</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="400">
							<div><img src="../image/dtm_img04.jpg"></div>
							<div>경대병원 설치</div>
						</div>
					</div>
					-->
					<div class="mcall_txt">
						<ul class="bull">
							<li data-aos="fade-up" data-aos-delay="300">국방 훈련/체력측정 서비스</li>
							<li data-aos="fade-up" data-aos-delay="100">훈련 및 교육인원에 대해 체계적이고 효율적인 관리 (무인화)</li>
							<li data-aos="fade-up" data-aos-delay="200">비대면 강화로 인한 포스트 코로나 대응 및 인건비 절감, 인적/물적 자원의 인공지능
								기반으로 효율적인 통합관리</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="mcall_pic">
				<!--
				<div class="pic2" data-aos="fade-up" data-aos-delay="300">
					<div>로그인 화면</div>
					<div>
						<img src="../image/dtm001.jpg">
					</div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="500">
					<div>QR코드 스캔</div>
					<div><img src="../image/dtm002.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="700">
					<div>QR코드 본인확인</div>
					<div><img src="../image/dtm003.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="200">
					<div>건강체크 화면</div>
					<div><img src="../image/dtm004.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="400">
					<div>체온측정 화면</div>
					<div><img src="../image/dtm005.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="300">
					<div>건강체크 결과화면</div>
					<div><img src="../image/dtm006.jpg"></div>
				</div>
				-->
				<!--
				<div class="pic2" data-aos="fade-up" data-aos-delay="300">
					<div>체력측정 시작화면</div>
					<div>
						<img src="../image/dtm013.jpg">
					</div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="500">
					<div>본인확인 화면</div>
					<div><img src="../image/dtm008.jpg"></div>
				</div>
				-->
				<div class="pic2" data-aos="fade-up" data-aos-delay="700">
					<div>체력측정 화면</div>
					<div><img src="../image/dtm009.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="200">
					<div>체력측정 모습</div>
					<div><img src="../image/dtm010.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="400">
					<div>체력측정 센서위치</div>
					<div><img src="../image/dtm011.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up" data-aos-delay="300">
					<div>체력측정 결과 화면</div>
					<div><img src="../image/dtm012.jpg"></div>
				</div>
			</div>

		</div>
	</div>
</div>