<?php
$first_page = "field";
$second_page = "field";
?>


<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>
	<div id="page_wrap">
		<div id="field">
			<div class="field_wrap">
				<div class="field_top" data-aos="fade-up" data-aos-delay="100">
					<img src="../image/field_top.png">
				</div>
				<div class="field_left" data-aos="fade-up" data-aos-delay="500">
					<img src="../image/field_left.png">
				</div>
				<div class="field_right" data-aos="fade-up" data-aos-delay="700">
					<img src="../image/field_right.png">
				</div>
			</div>
		</div>
	</div>
</div>