
<?php
$first_page = "tech";
$second_page = "hire";
?>

<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">




<BODY>

</HEADER>
<div id="location" >
			<h3 class="stit"><b>제이솔루션의 인재상</b></span></h3>
			<DIV id="wrapper"></div>
			</div>
<SECTION class="divide5">
<DIV class="con_box">
	<OL>
		<LI><IMG src="../image/bg01.jpg"></LI>
		<LI><IMG src="../image/bg02.jpg"></LI>
		<LI><IMG src="../image/bg03.jpg"></LI>
		<LI><IMG src="../image/bg04.jpg"></LI>
	</OL>
	<ul>
		<LI class="active">
			<DIV class="txt_box">
				<H3>혁신</H3>
				<P>변화와 혁신을 두려워하지 않고 창의성을 갖춘 글로벌 인재</P>
			</DIV>
		</LI>
		<LI>
			<DIV class="txt_box">
				<H3>열정</H3>
				<P>적극적으로 임하는 열정과 전문지식을 배우려는 자세를 갖춘 인재</P>
			</DIV>
		</LI>
		<LI>
			<DIV class="txt_box">
				<H3>도전</H3>
				<P>끊임없이 도전하며, 한계를 극복하고자 하는 인재</P>
			</DIV>
		</LI>
		<LI>
			<DIV class="txt_box">
				<H3>노력</H3>
				<P>기업과 개인의 발전을 위해 꾸준히 노력하는 인재</P>
				</DIV>
		</LI>
	</UL>
</DIV>

<DIV class="con_box2">
	<ul>
		<LI class="active">
			<DIV class="txt_box">
				<H3>혁신</H3>
				<P>변화와 혁신을 두려워하지 않고 창의성을 갖춘 글로벌 인재</P>
			</DIV>
		</LI>
		<LI>
			<DIV class="txt_box">
				<H3>열정</H3>
				<P>적극적으로 임하는 열정과 전문지식을 배우려는 자세를 갖춘 인재</P>
			</DIV>
		</LI>
		<LI>
			<DIV class="txt_box">
				<H3>도전</H3>
				<P>끊임없이 도전하며, 한계를 극복하고자 하는 인재</P>
			</DIV>
		</LI>
		<LI>
			<DIV class="txt_box">
				<H3>노력</H3>
				<P>기업과 개인의 발전을 위해 꾸준히 노력하는 인재</P>
				</DIV>
		</LI>
	</UL>
</DIV>
</SECTION>

<script>

$(function(){
	$(".divide5 .con_box ul li").hover(function(){
		$(".divide5 .con_box ul li").removeClass("active");
		$(this).addClass("active");
	});
	$(".divide5 .con_box ul li:nth-of-type(1)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(1) img").css('opacity','1');
	});
	$(".divide5 .con_box ul li:nth-of-type(2)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(2) img").css('opacity','1')
	});
	$(".divide5 .con_box ul li:nth-of-type(3)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(3) img").css('opacity','1')
	});
	$(".divide5 .con_box ul li:nth-of-type(4)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(4) img").css('opacity','1')
	});

	$(".divide5 .con_box2 ul li").hover(function(){
		$(".divide5 .con_box2 ul li").removeClass("active");
		$(this).addClass("active");
	});
	$(".divide5 .con_box2 ul li:nth-of-type(1)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(1) img").css('opacity','1');
	});
	$(".divide5 .con_box2 ul li:nth-of-type(2)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(2) img").css('opacity','1')
	});
	$(".divide5 .con_box2 ul li:nth-of-type(3)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(3) img").css('opacity','1')
	});
	$(".divide5 .con_box2 ul li:nth-of-type(4)").hover(function(){
		$(".divide5 .con_box ol li img").css('opacity','0');
		$(".divide5 .con_box ol li:nth-of-type(4) img").css('opacity','1')
	});

});
</script>
		</div>
	</div>
</div>
