<?php
$first_page = "company";
$second_page = "history";
?>

<script> 
	AOS.init(); 
</script>
<div class="section">
<?php

?>
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

<hr>
	<div id="page_wrap">
		<div id="history">
			<h3 class="stit"><b>연혁</b></h3>
			<DIV class="container mobile_history">
				<DIV class="history_area">
					<dl class="history_22" data-aos="fade-up">
						<DT><SPAN>2022</SPAN></DT>
						<DD class="h_202204" data-aos="fade-up" >
							<P class="his_tit">4월</P>
							<P class="his_sub">글로벌IP스타기업 선정</P>
						</DD>
						<DD class="h_202203" data-aos="fade-up" >
							<P class="his_tit">3월</P>
							<P class="his_sub">산학협력 MOU 체결 (대덕S/W고)</P>
							<P class="his_sub">대구경북지방병무청장 표창</P>
						</DD>
						<DD class="h_202202" data-aos="fade-up" >
							<P class="his_tit">2월</P>
							<P class="his_sub">대구교육청 대구교육협력 우수기업 선정</P>
							<P class="his_sub">경북대복합지능ICT연구센터 MOU</P>
						</DD>
					</dl>
					<DL class="history_21" data-aos="fade-up">
						<DT><SPAN>2021</SPAN></DT>
						<DD class="h_202112" data-aos="fade-up" >
							<P class="his_tit">12월</P>
							<P class="his_sub">지역SW기업 표창장</P>
							<P class="his_txt">가족친화기업 인증</P>
							<P class="his_txt">우수기술기업 인증(T3)</P>
						</DD>
						<DD class="h_202111" data-aos="fade-up" >
							<P class="his_tit">11월</P>
							<P class="his_sub"></P>
							<P class="his_txt">공대스타 디지털해커톤 대상</P>
						</DD>
						<DD class="h_202110" data-aos="fade-up" >
							<P class="his_tit">10월</P>
							<P class="his_sub"></P>
							<P class="his_txt">ISO9001:2015 갱신</P>
						</DD>
						<DD class="h_202109" data-aos="fade-up" >
							<P class="his_tit">9월</P>
							<P class="his_sub"></P>
							<P class="his_txt">기술혁신형 중소기업(이노비즈) 인증</P>
						</DD>
						<DD class="h_202106" data-aos="fade-up" >
							<P class="his_tit">6월</P>
							<P class="his_sub"></P>
							<P class="his_txt">삼성전자 C-Lab 12기 선정(대구창조경제혁신센터)</P>
						</DD>
						<DD class="h_202105" data-aos="fade-up" >
							<P class="his_tit">5월</P>
							<P class="his_sub"></P>
							<P class="his_txt">중기부 R&D기획지원 사업 선정(기관추천)</P>
						</DD>
						<DD class="h_202104" data-aos="fade-up" >
							<P class="his_tit">4월</P>
							<P class="his_sub"></P>
							<P class="his_txt">대구테크노파크 수출새싹기업 지원사업 선정</P>
						</DD>
						<DD class="h_202103" data-aos="fade-up" >
							<P class="his_tit">3월</P>
							<P class="his_sub">한국창조경영인협회 창조혁신경영 대상 수상</P>
							<P class="his_sub">국회 산업통상자원중소벤처기업위원 표창</p>
							<P class="his_sub">과기부 SW고성장클럽 200 사업 선정</p>
						</DD>
						<DD class="h_202101" data-aos="fade-up">
							<P class="his_tit">1월</P>
							<P class="his_sub">해외 진출을 위한 MOU 체결(영국/Wisebury Labs Ltd)</P>
							<P class="his_sub">법인 자본금 증자(5천만원→2억 1천만원)</P>
						</DD>
					</dl>
					<dl class="history_20" data-aos="fade-up">
						<DT><SPAN>2020</SPAN></DT>
						<DD class="h_202012" data-aos="fade-up">
							<P class="his_tit">12월</P>
							<P class="his_sub">클라우드 서비스 확인제 인증 / 마켓플레이스 등록(KT/씨앗)</P>
							<P class="his_sub">SCI 우수기술기업 인증 / 병역지정업체 선정</P>
						</DD>
						<DD class="h_202011" data-aos="fade-up">
							<P class="his_tit">11월</P>
							<P class="his_sub">중소벤처기업진흥공단 대구지역본부장 표창</P>
							<P class="his_sub">K-ICT 코로나19 비대면 우수서비스 선정(IAM)</P>
							<P class="his_sub">대구/경북교육청 에듀테크 지원사업 컨소시엄 선정</P>
						</DD>
						<DD class="h_202008" data-aos="fade-up" >
							<P class="his_tit">8월</P>
							<P class="his_sub">산학협력 MOU 체결(대구S/W고, 대구조일고, 대구경북대 S/W교육센터)</P>
						</DD>
						<DD class="h_202006" data-aos="fade-up">
							<P class="his_tit">6월</P>
							<P class="his_sub">KT/BC카드 빅데이터 기반 상권분석 기술제휴 MOU</P>
						</DD>
						<DD class="h_202002" data-aos="fade-up" >
							<P class="his_tit">2월</P>
							<P class="his_sub">스마트팩토리/데이터바우처(판매/가공/AI) 공급기업 등록</P>
						</DD>
					</DL>	
					<style>
					</style>
					<DL class="history_19" data-aos="fade-up">
						<DT><SPAN>2019</SPAN></DT>
						<DD class="h_201911" data-aos="fade-up">
							<P class="his_tit">11월</P>
							<P class="his_sub">M-CALL 상표출원(SW/재고관리), S/W 저작권 등록</P>
						</dd>
						<dd class="h_201910" data-aos="fade-up">
							<P class="his_tit">10월</P>
							<P class="his_sub">중기부 초기창업패키지 지원사업 등 3건 선정</P>
						</dd>
						<dd class="h_201909" data-aos="fade-up">
							<P class="his_tit">9월</P>
							<P class="his_sub">ISO 9001 품질경영시스템 인증 획득</P>
							<P class="his_sub">대한민국 청년 스타트업 어워즈 최우수상 수상</P>
						</dd>
						<dd class="h_201905" data-aos="fade-up">
							<P class="his_tit">5월</P>
							<P class="his_sub">국방벤처기업 지정 및 협약 / 육군사관학교 지능형 체력측정 개발 기술제휴</P>
						</dd>
						<dd class="h_201903" data-aos="fade-up">
							<P class="his_tit">3월</P>
							<P class="his_sub">신보 START-UP 2030 보증투자 기업 선정</P>
						</dd>
					</dl>
				<DL class="history_18" data-aos="fade-up">
					<DT><SPAN>2018</SPAN></DT>
					<DD class="h_201809" data-aos="fade-up">
						<P class="his_tit">9월</P>
						<P class="his_sub">기술벤처기업 인증</P>
					</DD>
					<DD class="h_201803" data-aos="fade-up">
						<P class="his_tit">3월</P>
						<P class="his_sub">(주)제이솔루션 법인 설립</P>
						<P class="his_sub">특허등록 : 단말기 재고관리 방법</P>
					</DD>
				</DL>
				<DL class="history_17" data-aos="fade-up">
					<DT><SPAN>2017</SPAN></DT>
					<DD class="h_201701" data-aos="fade-up">
						<P class="his_tit">1월</P>
						<P class="his_sub">M-CALL 개발 기획 TF 추진</P>
					</DD>
				</dl>
				</DIV>
				<br>
				<br>
				<br>
				<br><br>
				<br>
				<br>
			</DIV>
		</div>
	</div>
</div>