<script> 
	AOS.init(); 
</script>

<?php
$first_page = "ict";
$second_page = "huclo_aix";
?>

<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>
	<div id="page_wrap"  style="background:#fff url(image/huclo_wind.png) 50% 50% no-repeat;" data-aos="zoon-in">
		<div id="max_detail">
			<h3 class="stit2" data-aos="fade-up"><b>HUCLO AI-X PLATFORM</b></h3>
			<p class="sub_stit" data-aos="zoom-in">휴클로 AI-X 플랫폼</p>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-lg-12">
						<img src="../image/huclo_aix.png" data-aos="zoom-in" data-aos-delay="300" style="width:100%;padding:5% 0;">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 tit_line">
						<p data-aos="zoom-in">클라우드 SaaS기반 지능형 통합관제 플랫폼</p>
						<p data-aos="zoom-in" data-aos-delay="300"></p>
					</div>
				</div>
				<div class="row huclo_tit">
					<div class="col-xs-4 col-md-4 col-lg-4">
						<img src="../image/huclo_aix_tit01.png" data-aos="zoom-in" data-aos-delay="300" style="width:100%">
						<ul class="huclo_txt" data-aos="zoom-in">
							<li>3P(인원출입, 재고관리, 콘텐츠관리) 핵심자원별 DX 특화관리 솔루션</li>
							<li>QR코드기반 맞춤형 관리체계를 통한 사용자 편의성, 효율성 증대</li>
							<li>다양한 스마트산업(팩토리, 팜, 국방, 스토어 등)에 맞는 커스텀 및 특화기능</li>
							<li>다양한 Device 및 OS환경에 적용가능한 반응형 웹 및 운영기술</li>
						</ul>
					</div>
					<div class="col-xs-4 col-md-4 col-lg-4">
						<img src="../image/huclo_aix_tit02.png" data-aos="zoom-in" data-aos-delay="300" style="width:100%">
						<ul class="huclo_txt" data-aos="zoom-in">
							<li>AI기술(비전, 시계열, 자연어 등)을 통한 최적화, 지능화, 무인화 솔루션 제공</li>
							<li>BIGDATA를 통한 디스패칭, FIFO, 트랜드분석, 시각화 등 효율적 의사결정</li>
							<li>자체 빅데이터 분석 플랫폼 및 다양한 분석 레퍼런스 보유</li>
							<li>AI, 데이터바우처 공급기업 다수 수행, T3우수기술기업 인증</li>
						</ul>
					</div>
					<div class="col-xs-4 col-md-4 col-lg-4">
						<img src="../image/huclo_aix_tit03.png" data-aos="zoom-in" data-aos-delay="300" style="width:100%">
						<ul class="huclo_txt" data-aos="zoom-in">
							<li>SaaS화 및 API모듈화로 범용성 및 확장성 제공</li>
							<li>다양한 클라우드 환경에 적용 가능한 범용 플랫폼 구성</li>
							<li>클라우드 확인제를 통한 사용자 맞춤형 인프라 및 서비스 제공</li>
							<li>On-demand Self Service, Multi Tenancy구조 등 사용자 중심 설계</li>
						</ul>
					</div>
					<div style="width:100%;height:500px;float:left;position:relative;">
						<div class='animation-example'>
							<div class='item'>
								<div class='line'></div>
								<div class='dot'><p></div>
								<div class='circle'></div>
								<div class="circle_box" style="transform:rotate(180deg) scaleX(1) translateX(33%) translateY(1100%)">HUCLO PEOPLE</div>
							</div>
							<div class='item -type2' style="top:0%;transform:rotate(180deg) translateX(-0%) translateY(180%)  ">
								<div class='line'></div>
								<div class='dot'></div>
								<div class='circle'></div>
								<div class="circle_box" style="transform:rotate(180deg) translateX(40%) translateY(350%)">HUCLO PROJECTION</div>
							</div>
							<div class='item -type2' style="top:-190%;transform:rotate(180deg) translateX(100%) translateY(-100%) scaleX(-1)">
								<div class='line'></div>
								<div class='dot'></div>
								<div class='circle'></div>
								<div class="circle_box" style="transform:rotate(180deg) scaleX(-1) translateY(350%) translateX(10%)">HUCLO PRODUCT</div>
							</div>
							<div class='center'>
								<div class='circle'></div>
								<div class='circle'></div>
								<div class='circle'>
									<p style="text-align:center;margin-top:40%;color:#fff;font-weight:bold;">HUCLO AI-X<br>PLATFORM</p>
								</div>
							</div>
						</div>
						<div style="float:left;width:100%;position:relative;height:500px;color:#000">
							인적, 물적, 콘텐츠 자원을 휴클로 하나로 통합관제하여 궁극적인 AI-X기술을 실현
							HUCLO의 기술로 여는 새로운 디지털 트랜스포메이션
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
