<script>
	AOS.init(); 
</script>


<?php
$first_page = "ict";
$second_page = "idm";
?>

<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">
		<div id="max_detail">
			<h3 class="stit2" data-aos="fade-up"><b>IDM</b></span></h3>
			<p class="sub_stit" data-aos="zoom-in">무인단말출납/보관관리</p>
			<!-- ======= Contact Section ======= -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6 col-lg-6">
						<img src="../image/idm_left.png" data-aos="fade-up" data-aos-delay="300" style="width:100%">
					</div>
					<div class="col-xs-6 col-lg-6">
						<img src="../image/idm_right.png" data-aos="zoom-in" data-aos-delay="500" style="width:100%;">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 tit_line">
						<p data-aos="zoom-in">무인단말출납/보관관리</p>
						<p data-aos="zoom-in" data-aos-delay="300">교육, 국방분야 스마트 기기 출납 모니터링 및 올인원 단말기 관리 플랫폼</p>
					</div>
				</div>
			</div>

			<div class="iam_wrap" style="float:left;">
				<div class="mcall_img" style="border:1px solid #ddd">
					<img src="../image/idm001.jpg" data-aos="zoom-in" data-aod-delay="700"
						style="width:100%;height:100%;">
				</div>
				<div class="mcall_img_right" style="border:0px;">
					<div class="mcall_txt">
						<p class="tit" data-aos="fade-up" data-aos-delay="200">서비스 특징</p>
						<ul class="pen" data-aos="fade-up" data-aos-delay="500">
							<li><i class="fas fa-highlighter"></i> 무인화 키오스크 기반 교육/국방 대상 스마트 단말기 출납/재고 통합관리</li>
							<li><i class="fas fa-highlighter"></i> 교육기관 : 교육용 스마트 단말기 관리</li>
							<li><i class="fas fa-highlighter"></i> 국방 : 장병 스마트폰 사용 후 체계적인 관리</li>
						</ul>
					</div>
					<!--
					<div class="mcall_pic">
						<div class="pic4" data-aos="fade-up" data-aos-delay="500">
							<div><img src="../image/iamplus_img01.jpg"></div>
							<div>전광판 모드</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="300">
							<div><img src="../image/iamplus_img02.jpg"></div>
							<div>전광판 모드</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="700">
							<div><img src="../image/iamplus_img03.jpg"></div>
							<div>경대병원 설치</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="400">
							<div><img src="../image/iamplus_img04.jpg"></div>
							<div>경대병원 설치</div>
						</div>
					</div>
					-->
					<div class="mcall_txt">
						<ul class="bull">
							<li data-aos="fade-up" data-aos-delay="300">다양한 신원확인 및 단말관리 시스템 (QR, 시리얼통신)</li>
							<li data-aos="fade-up" data-aos-delay="100">체계적인고 효율적인 전산화 관리 및 모니터링</li>
							<li data-aos="fade-up" data-aos-delay="200">분실 및 관리를 위한 인적/물적 관리비용 절감</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>