<style>
	ul .hidden_box {
		width: 622.2px;
		height: 42.2px;
	}
</style>

<div id="container">
	<div id="page_wrap">
		<div id="cs_consulting">
			<h3 class="stit"><b>고객 관리</b></h3>
			<form action="js180302_result.php" onsubmit="return f_submit();" method="POST">
				<div class="cst_info_area">
					<h4>고객정보</h4>
					<ul class="cst_info_box">
						<li class="hidden_box">
							<label for="name">작성자</label>
							<input id="name" type="text" name="name" placeholder="ex) 홍길동" />
						</li>
						<li class="hidden_box">
						</li>

						<li class="hidden_box">
							<label for="cusname">고객 성명</label>
							<input id="cusname" type="text" name="cusname" placeholder="ex) 홍길동" />
						</li>
						<li class="hidden_box">
							<label for="birth">생년월일</label>
							<input id="birth" type="text" name="birth" placeholder="ex) 19851223" />
						</li>

						<li class="hidden_box">
							<label for="phone">폰번호</label>
							<input id="phone" type="text" name="phone" placeholder="ex) 01012341234" />
						</li>
						<li class="hidden_box">
							<label for="counsel_date">상담일자</label>
							<input id="counsel_date" type="text" name="counsel_date" placeholder="ex) 20190814" />
						</li>

						<li class="hidden_box">
							<label for="phone_type">현통신사</label>
							<select id="phone_type" name="phone_type"
								style="width: 302px; height: 46px; padding: 0 10px; margin-left: 3px; font-size: 16px; border: 1px solid #ccc;"
								onchange="phone_Change()">
								<option value="선택안함">선택안함</option>
								<option value="SKT">SKT</option>
								<option value="KT">KT</option>
								<option value="LG U+">LG U+</option>
								<option value="기타">기타</option>
							</select>
						</li>
						<li class="hidden_box">
							<label for="payment_type">요금제</label>
							<select id="payment_type" name="payment_type"
								style="width: 302px; height: 46px; padding: 0 10px; margin-left: 3px; font-size: 16px; border: 1px solid #ccc;">
								<option value="선택안함">선택안함</option>
							</select>
						</li>

						<li class="hidden_box">
							<label for="combin">결합여부</label>
							<input id="combin" type="text" name="combin" />
						</li>
						<li class="hidden_box">
							<label for="cusneeds">요청사항</label>
							<input id="cusneeds" type="text" name="cusneeds" />
						</li>
					</ul>
				</div>

				<div class="cst_add_box">
					<h4>상담 및 추가내용</h4>
					<textarea name="cuscounsel" placeholder="상담 및 추가내용"></textarea>
				</div>

				<input class="single_btn" type="submit" value="저장하기"></input>
			</form>

			<script>

				$("#phone").keyup(function (e) {
					$(this).val(inputChkNumber(this, 0, 11));
				});

				$("#birth").keyup(function (e) {
					$(this).val(inputChkNumber(this, 0, 8));
				});

				$("#counsel_date").keyup(function (e) {
					$(this).val(inputChkNumber(this, 0, 8));
				});

				function phone_Change() {
					var SKT = ["선택안함", "기타"];
					var KT = ["5G 슬림", "슈퍼플랜 프리미엄", "슈퍼플랜 스페셜", "슈퍼플랜 베이직", "기타"];
					var LG = ["5G 프리미엄", "5G 스탠다드", "5G 스페셜", "5G 라이트", "기타"];

					var select = $("#phone_type").val();
					var change = $("#payment_type");
					var changelist = null;
					var count = 0;

					switch (select) {
						case "SKT":
							changelist = SKT
							break;

						case "KT":
							changelist = KT;
							break;

						case "LG U+":
							changelist = LG;
							break;

						case "기타":
							changelist = null;
							break;

						default:
							return 0;
					}

					change.empty();
					while (changelist[count] != null) {
						var option = $("<option>" + changelist[count] + "</option>");
						change.append(option);
						count++;
					}
				}

				function inputChkNumber(ID, First = 0, Last = ID.value.length) {
					var v = $(ID).val();
					v = v.replace(/[^0-9]/gi, '');

					if (ID.value != v) {
						alert("숫자만 입력 가능합니다.");
					}
					else {
						v = v.substring(First, Last);
					}

					return v;
				}

				function changeHypen(Str, Number) {
					if (Str.indexOf("-") != -1) {
						return Str;
					}

					var buffer = "";

					for (var count = 1; Number[count] != null; count++) {
						buffer = buffer + Str.substring(Number[count - 1], Number[count]) + "-";
					}
					buffer = buffer + Str.substring(Number[Number.length - 1], Str.length);

					return buffer;
				}

				function f_submit() {
					var state = true;
					var phone = $("#phone");
					var birth = $("#birth");
					var counsel_date = $("#counsel_date");

					phone.val(changeHypen(phone.val(), [0, 3, 7]));
					counsel_date.val(changeHypen(counsel_date.val(), [0, 4, 6]));
					birth.val(changeHypen(birth.val(), [0, 4, 6]));

					return true;
				}
			</script>
		</div>
	</div>
</div>