<script>
	AOS.init(); 
</script>
<?php
$first_page = "company";
$second_page = "location";
?>

<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">
		<div id="location">
			<h3 class="stit"><b>LOCATION</b></span></h3>
			<!-- ======= Contact Section ======= -->
			<section id="contact" class="contact">
				<div class="container" data-aos="fade-up">
					<div class="row">
						<div class="map_wrap">
							<div class="info">
								<div class="address">
									<i class="fas fa-map-marker-alt"></i>
									<h4>본사:</h4>
									<p>
										대구광역시 북구 경대로17길 47<br>
										(경북대학교 테크노파크 117동 B129호)
									</p>
								</div>
								<div class="email">
									<i class="far fa-envelope"></i>
									<h4>Email:</h4>
									<p>master@j-sol.co.kr</p>
								</div>

								<div class="phone">
									<i class="fas fa-mobile-alt"></i>
									<h4>전화번호:</h4>
									<p>1644-3950</p>
								</div>

								<iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.0595564538124!2d128.61350544825478!3d35.89218073623167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e19f793abff9%3A0xe7909330d39de1cc!2z64yA6rWs6rSR7Jet7IucIOuzte2YhDHrj5kg6rK967aB64yA7ZWZ6rWQIO2FjO2BrOuFuO2MjO2BrA!5e0!3m2!1sko!2skr!4v1623048857907!5m2!1sko!2skr"
									width="100%" height="450" style="border:0;" allowfullscreen=""
									loading="lazy"></iframe>
							</div>
						</div>
						<div class="location_bg" style='' class="img-fluid animated" data-aos="zoom-in"
							data-aos-delay="200">&nbsp;
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>