<script> 
	AOS.init(); 
</script>

<?php
$first_page = "ict";
$second_page = "mcall";
?>

<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>

	<div id="page_wrap">
		<div id="max_detail">
			<h3 class="stit2" data-aos="fade-up"><b>M-CALL</b></h3>
			<p class="sub_stit" data-aos="zoom-in">지능형 이동통신시장 재고/물류 관리 플랫폼</p>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4 col-lg-4">
						<img src="../image/mcall_left.png" data-aos="fade-up" data-aos-delay="300" style="width:100%">
					</div>
					<div class="col-xs-4 col-lg-4" style="background:url(../image/mcall_bg1.png) 50% 50%">
						<img src="../image/mcall_center.png"  data-aos="fade-up"  data-aos-delay="700" style="width:100%;">
					</div>
					<div class="col-xs-4 col-lg-4">
						<img src="../image/mcall_right.png"  data-aos="zoom-in" data-aos-delay="500" style="width:100%;">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 tit_line">
						<p data-aos="zoom-in">지능형 이동통신시장 재고/물류 관리 플랫폼</p>
						<p data-aos="zoom-in" data-aos-delay="300">빅데이터 기반 지능형 다자간 통합관리 플랫폼</p>
					</div>
				</div>
				<div class="row graybg">
					<div class="col-xs-4 col-lg-4" data-aos="fade-up">
						<i class="fas fa-archive"></i>
						<div class="ban_tit">재고관리</div>
						<p class="sub_txt">빅데이터·AI분석을 통한 실시간 재고관리 기능</p>
						<div class="ban_tit2">다자간 통합, 원스탑 배송관리</div>
						<ul>
							<li><i class="far fa-check-circle"></i> 유통점, 판매점, 배송업체 연동 원스탑 퀵 배송시스템</li>
							<li><i class="far fa-check-circle"></i> QR코드 적용 간편 모바일 승인, 실시간 모니터링</li>
							<li><i class="far fa-check-circle"></i> 가용상태, 입고일, 거리 등 고려한 최적 재고 추천</li>
							<li><i class="far fa-check-circle"></i> 빅데이터 분석 통한 고객 트렌드 분석, 주문 추천</li>
						</ul>
					</div>
					<div class="col-xs-4 col-lg-4" data-aos="fade-up" data-aos-delay="500">
						<i class="fas fa-hand-holding-usd"></i>
						<div class="ban_tit">정산관리</div>
						<p class="sub_txt">실시간 정산확인 ONE-STOP 정산체계</p>
						<div class="ban_tit2">월말·월초 바쁜 업무를 쉽게 해결</div>
						<ul>
							<li><i class="far fa-check-circle"></i> 유통점별 맞춤형 정산 TOOL 및 에디터 제공</li>
							<li><i class="far fa-check-circle"></i> 실시간 상호 검증 시스템 (유통점 <i class="fas fa-arrows-alt-h" style="color:#aaa"></i> 판매점)</li>
							<li><i class="far fa-check-circle"></i> 정산서, 수정, 소급 등 원스탑 정산시스템</li>
							<li><i class="far fa-check-circle"></i> 상호 검증된 실시간 재고조사 및 분실 방지</li>
						</ul>
					</div>
					<div class="col-xs-4 col-lg-4" data-aos="fade-up">
						<i class="fas fa-users"></i>
						<div class="ban_tit">고객관리</div>
						<p class="sub_txt">고객관리와 일정관리를 한번에!</p>
						<div class="ban_tit2">요금제 컨설팅 / 설계지원 시스템</div>
						<ul>
							<li><i class="far fa-check-circle"></i> 고객상담 진행 상태별 실시간 체크, 이력 관리</li>
							<li><i class="far fa-check-circle"></i> 일정표 및 메시지를 통한 체계적 고객관리</li>
							<li><i class="far fa-check-circle"></i> DB구축 통한 단골고객 등 효율적, 체계적 관리</li>
							<li><i class="far fa-check-circle"></i> 빅데이터 분석 통한 고객 니즈 파악, 프로모션 진행</li>
						</ul>
					</div>
				</div>

			</div>
			<div style="float:left;">
				<div class="mcall_img">
					<img src="../image/mcall_bro.jpg" data-aos="zoom-in" data-aod-delay="700" style="width:100%;padding:0;">
				</div>
				<div class="mcall_img_right">
					<div class="mcall_txt">
						<p class="tit" data-aos="fade-up" data-aos-delay="200">서비스 특징</p>
						<ul class="pen" data-aos="fade-up" data-aos-delay="500">
							<li><i class="fas fa-highlighter"></i> 대구/경북권 총판 계약 등 5억원 매출 달성</li>
							<li><i class="fas fa-highlighter"></i> 타지역 진출을 위한 총판 및 자사화 준비</li>
							<li><i class="fas fa-highlighter"></i> 도매점/판매점 등 30개소 사용/테스트</li>
							<li><i class="fas fa-highlighter"></i> 전국 퀵서비스 업체 MOU/개발사 MOU</li>
						</ul>
					</div>
					<div class="mcall_pic">
						<div class="pic4" data-aos="fade-up" data-aos-delay="500">
							<div><img src="../image/mcall_img01.jpg"></div>
							<div>총판사 구매계약 체결</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="300">
							<div><img src="../image/mcall_img02.jpg"></div>
							<div>M-CALL 시연회</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="700">
							<div><img src="../image/mcall_img03.jpg"></div>
							<div>퀵서비스업계 MOU</div>
						</div>
						<div class="pic4" data-aos="fade-up" data-aos-delay="400">
							<div><img src="../image/mcall_img04.jpg"></div>
							<div>M-CALL 홍보</div>
						</div>
					</div>
					<div class="mcall_txt">
						<ul class="bull">
							<li data-aos="fade-up" data-aos-delay="300">국내 최초, 유일의 대리점과 판매점 간 퀵서비스 통합된 솔루션</li>
							<li data-aos="fade-up" data-aos-delay="100">빅데이터 및 AI 알고리즘을 통한 지능형 의사결정 서비스 지원</li>
							<li data-aos="fade-up" data-aos-delay="200">다자간 통합 ONE-STOP 물류연동을 위한 오픈 API기반 서비스</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="detail_page">
				<div>
					<img src="../image/mcall_detail01.png" data-aos="fade-up">
				</div>
				<div>
					<img src="../image/mcall_detail02.png" data-aos="fade-up">
				</div>
				<div>
					<img src="../image/mcall_detail03.png" data-aos="fade-up">
				</div>
				<div>
					<img src="../image/mcall_detail04.png" data-aos="fade-up">
				</div>
				<div>
					<img src="../image/mcall_detail05.png" data-aos="fade-up">
				</div>
			</div>

			<div class="product_logo"><img src="../image/mcall_logo.png"></div>
			<div class="mcall_pic">
				<!--
				<div class="pic2" data-aos="fade-up">
					<div>로그인 화면</div>
					<div><img src="../image/mcall007.jpg" ></div>
				</div>
				<div class="pic2" data-aos="fade-up">
					<div>신청화면</div>
					<div><img src="../image/mcall001.jpg"></div>
				</div>
				-->
				<div class="pic2" data-aos="fade-up">
					<div>판매점 화면</div>
					<div><img src="../image/mcall002.jpg"></div>
				</div>
				<!--
				<div class="pic2" data-aos="fade-up">
					<div>대리점 화면</div>
					<div><img src="../image/mcall003.jpg"></div>
				</div>
				-->
				<!--
				<div class="pic2" data-aos="fade-up">
					<div>고객관리화면</div>
					<div><img src="../image/mcall004.jpg"></div>
				</div>
				-->
				<div class="pic2" data-aos="fade-up">
					<div>재고관리화면</div>
					<div><img src="../image/mcall005.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up">
					<div>정산관리화면</div>
					<div><img src="../image/mcall006.jpg"></div>
				</div>
				<div class="pic2" data-aos="fade-up">
					<div>빅데이터 화면</div>
					<div><img src="../image/mcall008.jpg"></div>
				</div>
			</div>
		</div>
	</div>
</div>