	<?php include_once("inc/sub_loc.php");?>
	<div id="page_wrap">
		<div id="max_detail">
			<div class="max_ict_box">
				<div class="max_ict_tit">
					<span>
					<?php
					$title = (get_title($_GET[cid]));
					$title_cnt = count($title);
					foreach($title as $key => $v) {
					if($title_cnt ==1) {
						$alink_s = "<a href='prod3_category.php?cid=".$v['cid']."'>";
						$alink_e = "</a>";
					}
					if($key == 0) {
						$space = "";
					} else {
						$space = "&nbsp;";
						$alink_s = "<a href='prod3_category.php?cid=".$v['cid']."'>";
						$alink_e = "</a>";
					}
					echo $space.$alink_s."#".$v['category_name'].$alink_e;
					?>
					<?php
					}
					$product_info = get_product_detail("04_ic",$_GET['pid']);
					?>
					</span>
					<h3><?php echo $product_info['product_name'] ?></h3>
					<p><?php echo $product_info['product_summary_more'] ?></p>
				</div>
				<div class="max_ict_write">
					<form method="post" onsubmit="return f_check();" action="estimate_result.php">
						<input type="hidden" name="mod" value="04_ic" />
						<input type="hidden" name="pid" value="<?php echo $_GET['pid']; ?>" />
						<input type="hidden" name="cid" value="<?php echo $_GET['cid'];?>" />
						<div class="agree_wrap">
							<ul>
								<li><label class="wr_la" for="wr_company">회사명</label><input id="wr_company" type="text" name="wr_company" placeholder="" required></li>
								<li><label class="wr_la" for="wr_name">담당자</label><input id="wr_name" type="text" name="wr_name" placeholder="" required></li>
								<li><label class="wr_la" for="wr_division">부서</label><input id="wr_division" type="text" name="wr_division" placeholder="" required></li>
								<li><label class="wr_la" for="wr_position">직책</label><input id="wr_position" type="text" name="wr_position" placeholder="" required></li>
								<li><label class="wr_la" for="wr_tel">연락처</label><input id="wr_tel" type="text" name="wr_tel" placeholder="숫자만 작성" required></li>
								<li><label class="wr_la" for="wr_email">이메일</label><input id="wr_email" type="email" name="wr_email" value="" placeholder="" required ></li>
								<li><label class="wr_la" for="wr_addr">주소</label><input id="wr_addr" type="text" name="wr_addr" placeholder="" required></li>
								<li><label class="wr_la" for="wr_etc">기타</label><input id="wr_etc" type="text" name="wr_etc" placeholder="" required></li>
							</ul>
							<div class="agree_area">
								<input id="m_agree" type="checkbox" name="agr_box" value="m_agree"><label for="m_agree"><span></span>고객정보수집 동의</label><a href="javascript:;" onclick="show_agreemnet();">전문보기</a>
								<div class="info_collection_layer" style="display:none">
									<h2>고객정보수집 동의</h2>
									<p>제이솔루션(이하 '회사'라 한다)은 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.<br>회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br>(본 방침은부터 2018년 01월 01일부터 시행됩니다.)</p>
									<textarea name="" rows="" cols=""><?php include_once("inc/info_agree.php");?></textarea>
									<button type="button" onclick="hide_agreement();">닫기</button>
								</div>
								<div class="info_collection_bg" style="display:none"></div>
								<script>
								var checked_chk = false;
								$("#m_agree").on("click", function () {
									if(checked_chk == false) {
										alert('전문보기를 클릭해서 내용을 확인해주세요.');
										$("#m_agree").prop("checked", false);
									}
								});
								function show_agreemnet () {
									$(".info_collection_layer").show();
									$(".info_collection_bg").show();
								}
								function hide_agreement () {
									$(".info_collection_layer").hide();
									$(".info_collection_bg").hide();
									checked_chk = true;
								}
								</script>
							</div>
						</div>
						<div class="max_order_btns">
							<p><strong>1644-3950</strong>상담전용 콜센터<br>(상담시간 10:00 am ~ 6:00 pm)</p>
							<!-- <input class="pr_bt_list" type="button" value="목록" onclick="window.location.href='http://bizwell.dmax.kr/prod1_list.php'"> -->
							<input class="pr_bt_buy" type="submit" onClick="javascript:;" value="상담 신청">
						</div>
					</form>
					<script>
					function f_check () {
						if($("#m_agree").prop("checked") == true) {
							return true;
						} else {
							alert('고객정보수집을 동의해주셔야 신청이 가능합니다.');
							return false;
						}
					}
					</script>
				</div>
			</div>
			<div class="max_detail_view">
				<?php
				if($product_info['product_detail']) {
				echo $product_info['product_detail'];
				} else {
				?>
				<img src="../images/img_detail_size.png">
				<?php
				}
				?>
			</div>
		</div>
	</div>