<div class="section">
	<?php include_once("inc/sub_ctgr_group.php");?>
	<div id="page_wrap">
		<div class="sub_product_category">
			<h3 class="stit">
				<?php
				$title = (get_title($_GET[cid]));
				$title_cnt = count($title);
				foreach($title as $key => $v) {
					if($key + 1 == $title_cnt) {
						$span_s = "";
						$span_e = "";
					} else {
						$span_s = "<span>";
						$span_e = "</span>";
					}
					echo $span_s.$v['category_name'].$span_e;
				}
				?>
			</h3>
			<ul>
				<?php
				$prd_arr = get_category_product("02_te",$_GET['cid']);
				foreach($prd_arr as $key => $v) {
				?>
				<li>
					<a href="prod1_detail.php?cid=<?php echo $_GET['cid']; ?>&pid=<?php echo $v['pid'] ?>" style="background-image: url('adf.jpg');">
						<h4><?php echo $v['product_name']; ?></h4>
						<p><?php echo nl2br($v['product_summary']); ?></p>
						<span>MORE</span>
					</a>
				</li>
				<?php
				}
				?>
				<!-- <li>
					<a href="../prod1_detail.php">
						<h4>시내전화</h4>
						<p>고객관리에서 매출증대까지<br>매장에 필요한 서비스</p>
						<span>MORE</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<h4>구내통신</h4>
						<p>초고속 인터넷을 다량으로 동시에!<br>기업형 광랜 서비스</p>
						<span>MORE</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<h4>전국대표번호</h4>
						<p>사물관리, 학생, 운송 위치추적을<br>인터넷으로 관리하는 서비스</p>
						<span>MORE</span>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<h4>무료전화080</h4>
						<p>사물관리, 학생, 운송 위치추적을<br>인터넷으로 관리하는 서비스</p>
						<span>MORE</span>
					</a>
				</li> -->
			</ul>
		</div>
	</div>
</div>