<div class="section">
	<?php include_once("inc/sub_loc.php");?>
	<div id="page_wrap">
		<div class="sub_product_list">
			<div id="cate_wrap">
				<h3 class="stit"><?php echo get_title_only($_GET['cid']) ?></h3>
				<div class="ajax_result">
					<?php
					$total = get_category_product_total("03_el",$_GET['cid']);
					?>
					<p class="total">TOTAL <?php echo $total; ?></p>
				</div>
			</div>
			<ul class="prd_lst">
				<?php
				$page = $_GET['page'];
				$prd_arr = get_category_product("03_el",$_GET['cid'], $page,12);
				foreach($prd_arr as $key => $v) {
				?>
				<li>
					<a href="prod2_detail.php?cid=<?php echo $_GET['cid']; ?>&pid=<?php echo $v['pid'] ?>">
						<span class="prd_img"><img src="<?php echo ($v['product_img_list'])?MAX_HOST_PRODUCT.'/'.$v['product_img_list']:'./images/list_thumb_size.png'; ?>" alt=""></span>
						<div class="text_area">
							<span class="blind category"></span>
							<strong><?php echo $v['product_name']; ?></strong>
							<p class="summary"><?php echo nl2br($v['product_summary']); ?></p>
						</div>
					</a>
				</li>
				<?php
				}
				?>
			</ul>
			<div class="max_page max_paginate">
				<?php
					echo paging_dk("03_el",$_GET['cid'], $_GET[page],12);
				?>

				<!-- <a class="max_page_prev_first" href="">처음</a>
				<a class="max_page_prev" href="">이전</a>
				<a class="max_page_list max_page_cur" href=""><span class="page_on">1</span></a>
				<a class="max_page_list" href="2"><span>2</span></a>
				<a class="max_page_list" href="3"><span>3</span></a>
				<a class="max_page_next" href="3">다음</a>
				<a class="max_page_next_end" href="3">마지막</a> -->
			</div>
		</div>
	</div>
</div>