<!-- 인증 -->
<LINK href="../port/p_layout.css" rel="stylesheet">
<SCRIPT src="../port/p_common.js" type="text/javascript"></SCRIPT>
<SCRIPT src="../port/p_isotope.js" type="text/javascript"></SCRIPT>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>

<?php
$first_page = "tech";
$second_page = "tech1";
?>


<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>
	<div id="page_wrap" style="width:100%;float:left;background:#000;">
		<div id="location" >
			<DIV id="wrapper">
				<div class="portfolio_wrap">
				<DIV class="portfolio" id="fnMove3">
					<DIV class="section-title">
						<H2 class="main_title bx_parallax" data-direc="f_down" style="color:#fff">인증 14건</H2>
						<P class="left bx_parallax tac" data-direc="f_left" data-delay="400" style="color:#666;">
							클라우드 SaaS기반 지능형 통합관제 플랫폼 선도기업
						</P>
					</DIV>
					<DIV class="list_wrap">
						<UL class="p_list" data-direc="f_down" data-delay="700">
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#t3">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/t3.jpg">
											<FIGCAPTION>
												<H3>T3 우수기술기업 인증서</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#family">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/family.jpg">
											<FIGCAPTION>
												<H3>가족친화기업 인증서</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#innobiz">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/innobiz.jpg">
											<FIGCAPTION>
												<H3>이노비즈 인증</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#main_biz">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/main_biz.jpg">
											<FIGCAPTION>
												<H3>메인비즈 인증</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#venture">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/venture.jpg">
											<FIGCAPTION>
												<H3>벤처기업확인서</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#defense_venture">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/defense_venture.jpg">
											<FIGCAPTION>
												<H3>국방벤처 협약기업 확인서</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#ipcert">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/ipcert.jpg">
											<FIGCAPTION>
												<H3>지식재산경영인증</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#cloud_service">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/cloud_service.jpg">
											<FIGCAPTION>
												<H3>클라우드 확인제</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#iso9001">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/iso9001.jpg">
											<FIGCAPTION>
												<H3>ISO 9001 인증</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#iso14001">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/iso14001.jpg">
											<FIGCAPTION>
												<H3>ISO 14001 인증</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#data_voucher">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/data_voucher.jpg">
											<FIGCAPTION>
												<H3>데이터바우처 공급</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#gongyu">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/gongyu.jpg">
											<FIGCAPTION>
												<H3>성과공유기업 확인서</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#smart_factory">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/smart_factory.jpg">
											<FIGCAPTION>
												<H3>스마트 팩토리 공급기업</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure in">
								<a href="#" data-toggle="modal" data-target="#busul">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/busul.jpg">
											<FIGCAPTION>
												<H3>기업부설연구소 인정서</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
						</UL>
					</DIV>
				</DIV>
				</div>
			</DIV>
		</div>
	</div>
</div>
<!-- 출원 -->


<!-- 모달 팝업 -->

<DIV tabindex="-1" class="modal fade" id="iso14001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">ISO 14001인증</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="iso14001"></a>
				<IMG src="image/iso14001.jpg" class="img-responsive" alt="ISO 14001인증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="venture" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">벤처기업확인서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in001"></a>
				<IMG src="image/venture.jpg" class="img-responsive" alt="벤처기업확인서">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="defense_venture" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">국방벤처 협약기업 확인서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in002"></a>
				<IMG src="image/defense_venture.jpg" class="img-responsive" alt="국방벤처 협약기업 확인서">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<!-- 모달 팝업 -->

<DIV tabindex="-1" class="modal fade" id="family" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">가족친화기업 인증서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in002"></a>
				<IMG src="image/family.jpg" class="img-responsive" alt="가족친화인증서">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="innobiz" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">기술혁신형 중소기업(이노비즈) 확인서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in002"></a>
				<IMG src="image/innobiz.jpg" class="img-responsive" alt="이노비즈">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<!-- 모달 팝업 -->
<DIV tabindex="-1" class="modal fade" id="busul" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">기업부설연구소 인정서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in003"></a>
				<IMG src="image/busul.jpg" class="img-responsive" alt="기업부설연구소 인정서">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="t3" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">T3 우수기술기업 인증서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in017"></a>
				<IMG src="image/t3.jpg" class="img-responsive" alt="우수기술기업 인증서(T3)">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="iso9001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">ISO 9001 인증</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in004"></a>
				<IMG src="image/iso9001.jpg" class="img-responsive" alt="ISO 9001 인증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<!-- 모달 팝업 -->
<DIV tabindex="-1" class="modal fade" id="main_biz" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">메인비즈 확인서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="main_biz"></a>
				<IMG src="image/main_biz.jpg" class="img-responsive" alt="메인비즈 확인서">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="data_voucher" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">데이터바우처 공급</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in005"></a>
				<IMG src="image/data_voucher.jpg" class="img-responsive" alt="데이터바우처 공급">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="cloud_service" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">클라우드 확인제</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in006"></a>
				<IMG src="image/cloud_service.jpg" class="img-responsive" alt="클라우드 확인제">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="gongyu" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">성과공유기업 확인서</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="etc012"></a>
				<IMG src="image/gongyu.jpg" class="img-responsive" alt="성과공유기업 확인서">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="smart_factory" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">스마트 팩토리</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in009"></a>
				<IMG src="image/smart_factory.jpg" class="img-responsive" alt="스마트 팩토리">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="ipcert" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">지식재산경영인증</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in009"></a>
				<IMG src="image/ipcert.jpg" class="img-responsive" alt="지식재산경영인증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
