

<LINK href="../port/p_layout.css" rel="stylesheet">
<SCRIPT src="../port/p_common.js" type="text/javascript"></SCRIPT>
<SCRIPT src="../port/p_isotope.js" type="text/javascript"></SCRIPT>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>

<?php
$first_page = "tech";
$second_page = "tech2";
?>


<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>
	<div id="page_wrap" style="width:100%;float:left;background:#000;">
		<div id="location" >
			<!-- <h3 class="stit"><b>인증서 및 기술현황</b></span></h3> -->
			<DIV id="wrapper">
				<div class="portfolio_wrap">
				<DIV class="portfolio" id="fnMove3">
					<DIV class="section-title">
						<H2 class="main_title bx_parallax" data-direc="f_down" style="color:#fff">상장 및 표창 13건</H2>
						<P class="left bx_parallax tac" data-direc="f_left" data-delay="400" style="color:#666;">
							클라우드 SaaS기반 지능형 통합관제 플랫폼 선도기업
						</P>
					</DIV>
					<DIV class="list_wrap">
						<UL class="p_list" data-direc="f_down" data-delay="700">
							
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#kukga">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/kukga.jpg">
											<FIGCAPTION>
												<H3>국가생산성대상 장관표창</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#chung">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/chung.jpg">
											<FIGCAPTION>
												<H3>청년기업인상 장관표창</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#digital_innovation">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/digital_innovation.jpg">
											<FIGCAPTION>
												<H3>한국일보 디지털 이노베이션 대상</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#hacker22">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/hacker22.jpg">
											<FIGCAPTION>
												<H3>'22 공대스타 디지털 해커톤 대상</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>

							<!-- 인증/표창  -->
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#edu22">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/edu22.jpg">
											<FIGCAPTION>
												<H3>대구광역시교육감 표창</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#byungmoo">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/byungmoo.jpg">
											<FIGCAPTION>
												<H3>대구경북지방병무청장 표창</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#daegu2021">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/daegu2021.jpg">
											<FIGCAPTION>
												<H3>지역SW기업 표창장</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#hacker21">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/hacker21.jpg">
											<FIGCAPTION>
												<H3>공대스타 디지털 해커톤 대상</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#kuk20">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/kuk20.jpg">
											<FIGCAPTION>
												<H3>국회 표창</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#joongingong20">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/joongingong20.jpg">
											<FIGCAPTION>
												<H3>중소벤처기업진흥공단 표창</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#changjo">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/changjo.jpg">
											<FIGCAPTION>
												<H3>창조혁신 경영대상</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#sakwan">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/sakwan.jpg">
											<FIGCAPTION>
												<H3>육군사관학교 감사장</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
							<LI class="product-grid-item figure pyo">
								<a href="#" data-toggle="modal" data-target="#startup_award">
									<FIGURE class="effect_a">
										<SPAN class="img">
											<IMG src="image/startup_award.jpg">
											<FIGCAPTION>
												<H3>청년스타트업 어워즈 최우수상</H3>
											</FIGCAPTION>
										</SPAN>
									</figure>
								</A>
							</LI>
						</UL>
					</DIV>
				</DIV>
				</div>
			</DIV>
		</div>
	</div>
</div>

<DIV tabindex="-1" class="modal fade" id="kukga" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">국가생산성대상 장관표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="kukga"></a>
				<IMG src="image/kukga.jpg" class="img-responsive" alt="국가생산성대상 장관표창">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chung" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">청년기업인상 장관표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chung"></a>
				<IMG src="image/chung.jpg" class="img-responsive" alt="청년기업인상 장관표창">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="chung" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">청년기업인상 장관표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chung"></a>
				<IMG src="image/chung.jpg" class="img-responsive" alt="청년기업인상 장관표창">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="digital_innovation" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">한국일보 디지털 이노베이션 대상</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="digital_innovation"></a>
				<IMG src="image/digital_innovation.jpg" class="img-responsive" alt="한국일보 디지털 이노베이션 대상">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="hacker22" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">'22 공대스타 디지털 해커톤 대상</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="in018"></a>
				<IMG src="image/hacker22.jpg" class="img-responsive" alt="공대스타 디지털 해커톤">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="edu22" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">대구광역시교육감 표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="edu22"></a>
				<IMG src="image/edu22.jpg" class="img-responsive" alt="대구광역시교육감 표창">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="byungmoo" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">대구경북지방병무청장 표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="byungmoo"></a>
				<IMG src="image/byungmoo.jpg" class="img-responsive" alt="대구경북지방병무청장 표창">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="daegu2021" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">지역SW기업 표창장</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="pyo017"></a>
				<IMG src="image/daegu2021.jpg" class="img-responsive" alt="2021 지역SW기업 표창장">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="daegu2021" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">지역SW기업 표창장</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="pyo017"></a>
				<IMG src="image/daegu2021.jpg" class="img-responsive" alt="2021 지역SW기업 표창장">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="hacker21" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">'21 공대스타 디지털 해커톤 대상</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="hacker21"></a>
				<IMG src="image/hacker21.jpg" class="img-responsive" alt="'21 공대스타 디지털 해커톤 대상">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="kuk20" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">국회 표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="hacker21"></a>
				<IMG src="image/kuk20.jpg" class="img-responsive" alt="국회 표창">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="joongingong20" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">중소벤처기업진흥공단 표창</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="joongingong20"></a>
				<IMG src="image/joongingong20.jpg" class="img-responsive" alt="중소벤처기업진흥공단">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="changjo" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">창조혁신 경영대상</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="changjo"></a>
				<IMG src="image/changjo.jpg" class="img-responsive" alt="창조혁신 경영대상">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="sakwan" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">육군사관학교 감사장</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="sakwan"></a>
				<IMG src="image/sakwan.jpg" class="img-responsive" alt="육군사관학교 감사장">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="startup_award" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document" >
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>						 
				<H4 class="modal-title" id="Modal-label-21">청년스타트업 어워즈 최우수상</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="startup_award"></a>
				<IMG src="image/startup_award.jpg" class="img-responsive" alt="청년스타트업 어워즈">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>