<LINK href="../port/p_layout.css" rel="stylesheet">
<SCRIPT src="../port/p_common.js" type="text/javascript"></SCRIPT>
<SCRIPT src="../port/p_isotope.js" type="text/javascript"></SCRIPT>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="undefined"
	crossorigin="anonymous"></script>

<?php
$first_page = "tech";
$second_page = "tech3";
?>

<div class="section">
	<?php include_once("inc/sub_loc2.php");?>
	<?php include_once("inc/sub_menu.php");?>
	<div id="page_wrap" style="width:100%;float:left;background:#000;">
		<div id="location" style="width:100%">
			<!-- <h3 class="stit"><b>인증서 및 기술현황</b></span></h3> -->
			<DIV id="wrapper">
				<div class="portfolio_wrap">
					<DIV class="portfolio" id="fnMove3">
						<DIV class="section-title">
							<H2 class="main_title bx_parallax" data-direc="f_down" style="color:#666">지재권 27건</H2>
							<P class="left bx_parallax tac" data-direc="f_left" data-delay="400" style="color:#fff;">
								클라우드 SaaS기반 지능형 통합관제 플랫폼 선도기업
							</P>
						</DIV>
						<DIV class="cate bx_parallax" data-direc="f_down" data-delay="500">
							<UL>
								<LI><A href="#" data-filter="*">전체</A></LI>
								<LI><A href="#" data-filter=".tech">특허등록(7)</A></LI>
								<LI><A href="#" data-filter=".chool">특허출원(14)</A></LI>
								<LI><A href="#" data-filter=".sang">상표출원(3)</A></LI>
								<LI><A href="#" data-filter=".design">디자인출원(1)</A></LI>
								<LI><A href="#" data-filter=".jujak">저작권등록(2)</A></LI>
							</UL>
						</DIV>

						<DIV class="list_wrap">
							<UL class="p_list" data-direc="f_down" data-delay="700">

								<!-- 재산권 -->
								<LI class="product-grid-item figure jujak">
									<a href="#" data-toggle="modal" data-target="#tech001">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tech001.jpg">
												<FIGCAPTION>
													<H3>M-CALL 저작등록</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure jujak">
									<a href="#" data-toggle="modal" data-target="#tech002">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tech002.jpg">
												<FIGCAPTION>
													<H3>IAM 저작등록</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<!-- 특허등록 -->
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tk_001">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_001.jpg">
												<FIGCAPTION>
													<H3>특허증1</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tk_002">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_002.jpg">
												<FIGCAPTION>
													<H3>특허증2</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tk_003">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_003.jpg">
												<FIGCAPTION>
													<H3>특허증3</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tk_004">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_004.jpg">
												<FIGCAPTION>
													<H3>특허증4</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tk_005">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_005.jpg">
												<FIGCAPTION>
													<H3>특허증5</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tech008">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_006.jpg">
												<FIGCAPTION>
													<H3>특허증6</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure tech">
									<a href="#" data-toggle="modal" data-target="#tk_007">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/tk_007.jpg">
												<FIGCAPTION>
													<H3>특허증7</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<!-- 출원 -->
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_001">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020190056346.jpg">
												<FIGCAPTION>
													<H3>특허출원1</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_002">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020190146296.jpg">
												<FIGCAPTION>
													<H3>특허출원2</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_003">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020190177027.jpg">
												<FIGCAPTION>
													<H3>특허출원3</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_004">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020200012115.jpg">
												<FIGCAPTION>
													<H3>특허출원4</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_005">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020200045499.jpg">
												<FIGCAPTION>
													<H3>특허출원5</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_006">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020200074799.jpg">
												<FIGCAPTION>
													<H3>특허출원6</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_007">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020200140814.jpg">
												<FIGCAPTION>
													<H3>특허출원7</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_008">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020200185284.jpg">
												<FIGCAPTION>
													<H3>특허출원8</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_009">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020210125440.jpg">
												<FIGCAPTION>
													<H3>특허출원9</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_010">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020210145134.jpg">
												<FIGCAPTION>
													<H3>특허출원10</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_011">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020220025063.jpg">
												<FIGCAPTION>
													<H3>특허출원11</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_012">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip_1020220066703.jpg">
												<FIGCAPTION>
													<H3>특허출원12</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_013">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip19_1020220133021.jpg">
												<FIGCAPTION>
													<H3>특허출원13</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure chool">
									<a href="#" data-toggle="modal" data-target="#chool_014">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/ip20_1020220142173.jpg">
												<FIGCAPTION>
													<H3>특허출원14</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure design">
									<a href="#" data-toggle="modal" data-target="#design_001">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/design_001.jpg">
												<FIGCAPTION>
													<H3>디자인출원1</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>

								<LI class="product-grid-item figure sang">
									<a href="#" data-toggle="modal" data-target="#sang_001">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/sang_001.jpg">
												<FIGCAPTION>
													<H3>M-CALL 상표출원</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure sang">
									<a href="#" data-toggle="modal" data-target="#sang_002">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/sang_002.jpg">
												<FIGCAPTION>
													<H3>IAM 상표출원</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
								<LI class="product-grid-item figure sang">
									<a href="#" data-toggle="modal" data-target="#sang_003">
										<FIGURE class="effect_a">
											<SPAN class="img">
												<IMG src="/tk/sang003.jpg">
												<FIGCAPTION>
													<H3>HUCLO 상표출원</H3>
												</FIGCAPTION>
											</SPAN>
										</figure>
									</A>
								</LI>
							</UL>
						</DIV>
					</DIV>
				</div>
			</DIV>
		</div>
	</div>
</div>



<!-- 상표 -->
<DIV tabindex="-1" class="modal fade" id="sang_001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">M-CALL 상표출원</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="sang_001"></a>
				<IMG src="/tk/sang_001.jpg" class="img-responsive" alt="상표출원1">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="sang_002" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">IAM 상표출원</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="sang_002"></a>
				<IMG src="/tk/sang_002.jpg" class="img-responsive" alt="상표출원2">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="sang_003" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">HUCLO 상표출원</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="sang_003"></a>
				<IMG src="/tk/sang003.jpg" class="img-responsive" alt="상표출원1">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="tech001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">M-CALL 저작권 등록증</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tech001"></a>
				<IMG src="/tk/tech001.jpg" class="img-responsive" alt="M-CALL 저작권 등록증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tech002" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">IAM 저작권 등록증</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tech002"></a>
				<IMG src="/tk/tech002.jpg" class="img-responsive" alt="IAM 저작권 등록증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tk_001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증1</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_001"></a>
				<IMG src="/tk/tk_001.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tk_002" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증2</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_002"></a>
				<IMG src="/tk/tk_002.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tk_003" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증3</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_003"></a>
				<IMG src="/tk/tk_003.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tk_004" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증4</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_004"></a>
				<IMG src="/tk/tk_004.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tk_005" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증5</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_005"></a>
				<IMG src="/tk/tk_005.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tech008" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증6</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_006"></a>
				<IMG src="/tk/tk_006.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="tk_007" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허증7</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="tk_007"></a>
				<IMG src="/tk/tk_007.jpg" class="img-responsive" alt="특허증">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<!-- 출원 -->

<DIV tabindex="-1" class="modal fade" id="chool_001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원1</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_001"></a>
				<IMG src="/tk/ip_1020190056346.jpg" class="img-responsive" alt="특허출원1">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="chool_002" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원2</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_002"></a>
				<IMG src="/tk/ip_1020190146296.jpg" class="img-responsive" alt="특허출원1">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="chool_003" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원3</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_003"></a>
				<IMG src="/tk/ip_1020190177027.jpg" class="img-responsive" alt="특허출원3">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="chool_004" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원4</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_004"></a>
				<IMG src="/tk/ip_1020200012115.jpg" class="img-responsive" alt="특허출원4">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<DIV tabindex="-1" class="modal fade" id="chool_005" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원5</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_005"></a>
				<IMG src="/tk/ip_1020200045499.jpg" class="img-responsive" alt="특허출원5">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_006" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원6</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_006"></a>
				<IMG src="/tk/ip_1020200074799.jpg" class="img-responsive" alt="특허출원6">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_007" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원7</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_007"></a>
				<IMG src="/tk/ip_1020200140814.jpg" class="img-responsive" alt="특허출원7">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_008" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원8</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_008"></a>
				<IMG src="/tk/ip_1020200185284.jpg" class="img-responsive" alt="특허출원8">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_009" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원9</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_009"></a>
				<IMG src="/tk/ip_1020210125440.jpg" class="img-responsive" alt="특허출원9">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_010" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원10</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_010"></a>
				<IMG src="/tk/ip_1020210145134.jpg" class="img-responsive" alt="특허출원10">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_011" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원11</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_011"></a>
				<IMG src="/tk/ip_1020220025063.jpg" class="img-responsive" alt="특허출원11">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>

<DIV tabindex="-1" class="modal fade" id="chool_012" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원12</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_012"></a>
				<IMG src="/tk/ip_1020220066703.jpg" class="img-responsive" alt="특허출원12">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="chool_013" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원13</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_013"></a>
				<IMG src="/tk/ip19_1020220133021.jpg" class="img-responsive" alt="특허출원13">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>


<DIV tabindex="-1" class="modal fade" id="chool_014" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">특허출원14</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="chool_014"></a>
				<IMG src="/tk/ip20_1020220142173.jpg" class="img-responsive" alt="특허출원14">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>
<!-- 출원 -->

<DIV tabindex="-1" class="modal fade" id="design_001" role="dialog" aria-labelledby="Modal-label-21">
	<DIV class="modal-dialog" role="document">
		<DIV class="modal-content">
			<DIV class="modal-header">
				<BUTTON class="close" aria-label="Close" type="button" data-dismiss="modal">
					<SPAN aria-hidden="true">×</SPAN>
				</BUTTON>
				<H4 class="modal-title" id="Modal-label-21">디자인출원1</H4>
			</DIV>
			<DIV class="modal-body">
				<a href="#;" name="design_001"></a>
				<IMG src="/tk/design_001.jpg" class="img-responsive" alt="디자인출원1">
			</DIV>
			<DIV class="modal-footer">
				<BUTTON class="modal_btn modal_btn-default" type="button" data-dismiss="modal">Close</BUTTON>
			</DIV>
		</DIV>
	</DIV>
</DIV>